inst/doc
.Rproj.user
.DS_Store
.Rhistory
NMF_*
.vscode/
doc
Meta
data-raw/*.gtf.gz
data-raw/SigProfiler*
data-raw/*.csv
data-raw/*.vcf
!inst/extdata/*.rds
!vignettes/*.rds
inst/extdata/human_hg*_gene_info.rds
inst/extdata/COSMIC_v3.2*
data-raw/human_hg19_gene_info.rds
data-raw/human_hg38_gene_info.rds
data-raw/mouse_mm10_gene_info.rds
inst/extdata/mouse_mm9_gene_info.rds
/doc/
/Meta/
inst/extdata/COSMIC_v3.3_CN_GRCh37.rds
inst/extdata/COSMIC_v3.4_CN_GRCh37.rds
inst/extdata/COSMIC_v3.4_DBS_GRCh37.rds
inst/extdata/COSMIC_v3.4_RNA-SBS_GRCh37.rds
inst/extdata/COSMIC_v3.4_SBS_GRCh37.rds
inst/extdata/COSMIC_v3.4_SV_GRCh38.rds
inst/extdata/human_T2T_gene_info.rds
inst/extdata/ce11_gene_info.rds
