inst/doc
.Rproj.user
.DS_Store
.Rhistory
NMF_*
.vscode/
doc
Meta
data-raw/*.gtf.gz
data-raw/SigProfiler*
data-raw/*.csv
data-raw/*.vcf
!inst/extdata/*.rds
!vignettes/*.rds
*.rds
inst/extdata/human_hg*_gene_info.rds
inst/extdata/COSMIC_v3.2*
